:root {
    --black: #181425;
    --black-container: #1814250f;
    --white: #ffffff;
    --primary: #124e89;
    --success: #265c42;
    --danger: #ff0044;
    --outline: #8b9bb4;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Globals */
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}



.container {
    max-width: 768px;
    margin: auto;
    padding: 16px;
}

header {
    position: sticky;
    padding: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
input {
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 4px;
}
/* Navigation */

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.navigation-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation-item > *:not(:first-child) {
    padding: 0 8px;
}

#navigation-lists {
    height: 100%;
    display: flex;
    align-content: center;
}

.navigation-list {
    transition: .5s all ease-in-out;
    display: flex;
    margin: 0px 8px;
    align-items: center;
    padding: 0px 12px;
    height: 100%;
}

.navigation-list.active {
    background-color: var(--black);
    color: var(--white);
}

.navigation-list:hover {
    border-bottom: 2px solid var(--black)
}
/* Sidebar */

#sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1)
}

#sidebar.active {
    left: 0 !important;
}
.sidebar-toggle {   
    height: 36px;
    width: 36px;
    border: 0;
    cursor: pointer;
    background: none;
    display: none;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar-header, #sidebar-footer {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar-body {
    flex-grow: 1;
    margin: 8px 0;
}

#sidebar-lists {
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

.sidebar-list {
    padding: 16px 0;
    font-weight: bold;
}

#sidebar-lists > *:not(:first-child) {
    border-top: 1px solid var(--outline);
}
/* Button */
.btn {
    border-radius: 8px;
    padding: 12px 16px;
    outline: 0;
    border: 0;
    font-weight: bold; 
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn.primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn.success {
    background-color: var(--success);
    color: var(--white);
}

.btn.danger {
    background: var(--danger);
    color: var(--white);
}


@media screen and (max-width: 768px) {
    #navigation-lists {
        display: none;
    }
    .sidebar-toggle {
        display:unset;
    }
}

/* Products Box */

.products-box-lists {
    display: grid;
    grid-template-areas: ". . .";
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.products-box-list {
    background-color: var(--black-container);
    padding: 8px;
}

.products-box-list-image {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 4 / 3;
}
.products-box-list-image > img {
    width: inherit;
    position: absolute;
}
.products-box-list-props > * {
    margin: 4px 0;
    display: flex;
    flex-direction: row;
}

#product-view-container {
    display: grid;
    grid-template-areas: ". .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

#product-view-image {
    width: 100%;
    position: relative;
}

#product-view-image > img{
    width: inherit;
}
#product-view-props {
    position: relative;
    display: flex;
    flex-direction: column;
}

#product-view-props > * {
    margin: 8px 0;
}


/* Cart */
.cart-box-list {
    display: flex;
    align-items: center;
}

.cart-box-description {
    flex-grow: 1;
}